.under{
    display: none;
    position: absolute;
    width: auto;
  }
  nav > ul li:hover .under{
    display: block;
    background-color: #959299;
    width: 23%;
  }
  .navbar {
    position: sticky;
    font-size: 25px;
    width: 100%;
    height: 35px;
    top: 0;
    background-color:#959299;
    color: azure;
    z-index: 100;
  }
  header nav li {
    list-style-type: none;
  }
  header nav ul {
    margin: 2px;
  }
  header div {
    display: flex;
  }
  header div #namegroup {
    margin-top: 0%;
    margin-left: 31%;
    font-size: 30px;
    font-family: 'Faster One',cursive;
    color: white;
  }
  header div #connection {
    margin-top: 0%;
    margin-left: 28%;
}
  header a {
    text-decoration: none;
    color: white;
  }
  body {
    font-family: 'Raleway', sans-serif;
    background-color:black;
    margin: 0;
  }
  h1 {
    text-align: center;
    color:white;
    font-family: 'Raleway', sans-serif;

  }
  img {
    opacity: 60%;
    border-radius: 5%;
  }
  #description {
    color: #c5d6de;
    float: right;
    width: 45%;
    }
  #aboutme {
    float: left;
    width: 100%;
  }
  .foot {
    background-color: #959299;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    font-size: 25px;
    color: white;
}
footer p a {
    color: white;
    margin-left: 50px;
}
