html,
body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* navbar */
.under {
  display: none;
  position: fixed;
  width: auto;
}

nav>ul li:hover .under {
  display: block;
  background-color: #959299;
  width: 200px;
}

.navbar {
  position: sticky;
  font-size: 25px;
  width: 100vw;
  top: 0;
  background-color: #959299;
  color: azure;
}

header nav li {
  list-style-type: none;
}


#namegroup {
  font-size: 30px;
  font-family: 'Faster One', cursive;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

/* fin navbar  */
.foot {
  background-color: #959299;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
  font-size: 18px;
  margin-top: 3px;
  font-size: 25px;
  color: white;
}

footer p a {
  color: white;
  margin-left: 50px;
}
