.under{
    display: none;
    position: absolute;
    width: auto;
  }
  nav > ul li:hover .under{
    display: block;
    background-color: #959299;
    width: 23%;
  }
  .navbar {
    position: sticky;
    font-size: 25px;
    width: 100%;
    height: 35px;
    top: 0;
    background-color:#959299;
    color: azure;
    z-index: 100;
  }
  header nav li {
    list-style-type: none;
  }
  header nav ul {
    margin: 2px;
  }
  header div {
    display: flex;
  }
  header div #namegroup {
    margin-top: 0%;
    margin-left: 31%;
    font-size: 30px;
    color: white;
    font-family: 'Faster One', 'cursive';
  }
  header a {
    text-decoration: none;
    color: white;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    background-color:black;
    margin: 0;
  }
  h1 {
    text-align: center;
    color:white;
    font-family: 'Raleway', sans-serif;

  }
  .foot {
    background-color: #959299;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    font-size: 25px;
    color: white;
}
footer p a {
    color: white;
    margin-left: 50px;
}
#username {
    background-color:transparent;
    width: 50%;
    margin: 0 auto;
    color: white;
}
h2 {
    text-align: center;
    color: whitesmoke;
}
#signin {
    background-color: transparent;
    width: 50%;
    margin: 0 auto;
    color: white;
}
#form {
  margin-bottom: 100px;
}
.inside {
  margin: 0 auto;
  width: 30%;
}
.button {
 margin-left: 35%;
}