.imgAlbum{
    height: 250px;
    width: 250px;
}











.foot{
    background-color: black;
}

/* body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.under{
    display: none;
    position: absolute;
    width: auto;
}
  nav > ul li:hover .under{
    display: block;
    background-color: black;
    width: 23%;
}
.navbar {
    position: fixed;
    font-size: 25px;
    width: 100%;
    height: 35px;
    background-color: black;
    color: azure;
    z-index: 100;
    top: 0%;
}
header nav li {
    list-style-type: none;
}
header nav ul {
    margin: 2px;
}
header div {
    display: flex;
}
header div #namegroup {
    margin-top: 0%;
    margin-left: 31%;
    font-size: 30px;
    font-family: 'Faster One', 'cursive';
}
header a {
    text-decoration: none;
    color: white;
}
header {
      margin: 0%;
}
header div #connection {
    margin-top: 0%;
    margin-left: 28%;
}
.foot {
    background-color:black;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    font-size: 25px;
    color: white;
}
footer p a {
    color: white;
    margin-left: 50px;
}
.sizephoto {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    box-shadow: 5px 5px 10px black;
}
.sizephoto:hover {
    width: 250px;
    height: 250px;
    margin-top: 100px;
    box-shadow: 7px 7px 200px black;
}
.albumlist {
    display: none;
    position: absolute;
    width: auto;
    list-style-type: none;
    color: white;
    font-size: 20px;
}
ul li:hover .albumlist{
    display: block;
    background-color: #C0C0C0;
    width: 210px;
    border-bottom-right-radius: 20px;
    border:black;
    border: 1px;
}
.album .pocketlayout {
    display: inline-block;
    list-style-type: none;
}
.pocketlayout {
    margin-left: 60px;
}
#vinyl {
    width: 100%;
    height: 100%;
}
.video { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative;
    margin-bottom: 80px;
    margin-top: 80px;
}

.video iframe { 
    height: 100%; 
    width: 100%; 
    position:absolute;
}
.titlepage {
    margin-top: 100px;
    text-align: center;
} */
