@media (min-width: 576px) {
    body {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 19px;
    }
}