:root {
    font-size: 11px;
}

@media (min-width: 768px) {
    :root {
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    :root {
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 21px;
    }
}