@media (min-width : 667px){

}
  







body {
  font-family: 'Raleway', sans-serif;
  background-color: #000614;
  margin: 0;
  color: white;
}
.table{
  color: white;
}

h6 {
  padding-top: 10px;
}



.foot {
  background-color: #959299;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.fab {
  color: white;
  font-size: 25px;
}
footer p {
  text-align: center;
  font-size: 18px;
  margin-top: 3px;
  font-size: 25px;
  color: white;
}

footer a {
  color: white;
  font-size: 0%;
}

th {
  font-weight: bold;
}

#news {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
  margin-top: 100px;
}




.textcenter {
  text-align: center;
}

.date {
  text-align: center;
  font-weight: bold;
}
