body {
  font-family: 'Raleway', sans-serif;
  background-color: #000614;
  margin: 0;
  color: white;

}
h1 {
  
}

.under {
  display: none;
  position: absolute;
  width: auto;
}

nav>ul li:hover .under {
  display: block;
  background-color: #959299;
  width: 23%;
}

.navbar {
  position: sticky;
  font-size: 25px;
  width: 100%;
  height: 35px;
  top: 0;
  background-color: #959299;
  color: azure;
  z-index: 100;

}

header nav li {
  list-style-type: none;
}

header nav ul {
  margin: 2px;
}

header div {
  display: flex;
}

header div #namegroup {
  margin-top: 0%;
  margin-left: 31%;
  font-size: 30px;
  font-family: 'Faster One', 'cursive';
}

header a {
  text-decoration: none;
  color: white;
}

header div #connection {
  margin-top: 0%;
  margin-left: 28%;
}

.foot {
  background-color: #959299;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

footer p {
  text-align: center;
  font-size: 18px;
  margin-top: 3px;
  font-size: 25px;
  color: white;
}

footer p a {
  color: white;
  margin-left: 50px;
}

th {
  font-weight: bold;
  padding: 25px;
}

td {
  padding: 25px;
}

@media (min-width: 576px) {

}
table {
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 50px;
}

#news {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 100px;
  margin-top: 100px;
}

#guardrailleft {
  
  
  
}

#guardrailright {
  
  height: 750px;
  margin-top: 105px;
  right: 0%;
  margin-left: 1px;
}

.textcenter {
  text-align: center;
}

.date {
  text-align: center;
  font-weight: bold;
}
