
/* debut nav */
.navbar {
  background-color: black!important;
}

.navbar-brand {
  color: white;
}

.dropdown-menu {
  border: none;
  border-radius: 0em;
  background-color: black!important;
}

.namesite {
  font-size: 1.8rem;
  font-family: 'Faster One', cursive;
  color: white;
}

.fas {
  font-size: 1.5rem;
}
/* fin nav */
/* debut footer */
.foot {
  background-color: black;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.fab {
  color: white;
  font-size: 25px;
}


footer a {
  color: white;
  font-size: 0%;
}
/* fin footer */
body {
  
    font-family: 'Raleway', sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
/* photo */
.pict {
  height:280px;
  width:280px;
}
#overlay{
  height: 100%;
  width: 100%;
  /* background-color: rgb(255,255,255,0); */
  opacity: 0;
}
#overlay:hover{
  background-color: rgb(255,255,255,0.75);
  opacity: 0.75;
}
.subtitle{
  color: black;
}
.title {
  text-align: center;
  font-size: 30px;
}
table {
  border-color: black;
  background-color: black;
  width: 80%;
  height: 5px;
  margin-left: 7.5%;
}
