.under{
    display: none;
    position: absolute;
    width: auto;
  }
  nav > ul li:hover .under{
    display: block;
    background-color: black;
    width: 23%;
  }
  .navbar {
    position: sticky;
    font-size: 25px;
    width: 100%;
    height: 35px;
    top: 0;
    background-color:black;
    color: azure;
    z-index: 100;
  }
  header nav li {
    list-style-type: none;
  }
  header nav ul {
    margin: 2px;
  }
  header div {
    display: flex;
  }
  header div #namegroup {
    margin-top: 0%;
    margin-left: 31%;
    font-size: 30px;
    font-family: 'Faster One','cursive';
    color: whitesmoke;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header div #connection {
    margin-top: 0%;
    margin-left: 28%;
  }

  .foot {
    background-color: black;
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
}
footer p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    font-size: 25px;
    color: white;
}
footer p a {
    color: white;
    margin-left: 50px;
}
body {
    font-family: 'Raleway', sans-serif;
    background-color:white;
    margin: 0;
  }
h1
{
  text-align: center;
}

.container {
  position: relative;
  display: inline-block;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.image {
  display: block;
  width: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 75%;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#title {
  margin-top: 100px;
}
table {
  border-color: black;
  background-color: black;
  width: 85%;
  margin-left: 7.5%;
}