body {
    background-image: url(../img/escalator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#groupname {
    font-size: 80px;
    color: white;
    font-family: 'Faster One', 'cursive';
    margin-left: 23%;
    margin-top: 20%;
}
.buttonaccess {
    background-color: blueviolet;
    margin-left: 43%;
    margin-top: 1px;
    padding: 10px;
}
.textbutton {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
}
