body {
    background-image: url(../img/escalator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 100vh;
}
#groupname {
    font-size: 70px;
    color: white;
    font-family: 'Faster One', 'cursive';
    margin-top: 70%;
    text-align: center;
}
.buttonaccess {
    background-color: blueviolet;
    margin-top: 20%;
    padding: 10px;
}
.textbutton {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
}
